pandas 
numpy 
matplotlib.pyplot 
seaborn 
streamlit
sklearn
sklearn.preprocessing
sklearn.linear_model
sklearn.metrics 
r2_score
mean_squared_error
mean_absolute_error
LabelEncoder
LinearRegression
pickle